<div class="container-fluid div mt-3">
  <div class="row">
    <div class="col-4 text-center">
      <img class="p-3" src="{{productDetail?.imageUrl}}" style="width: 95%;
      height: 90%;">
    </div>
    <div class="col-5 mt-3 mb-3">
      <div class="card" style=" background-color: rgb(250, 185, 223); box-shadow: 2px 2px 4px 4px rgb(255, 142, 217);">
        <h2>
          {{productDetail?.productName}}</h2>
        <div class="crop" [style.width.px]="(productDetail?.starRating!*90) /5">
          <!--dùng ng-for hiển thị rating -->
          <div style="width: 90px; text-align:center;">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
        </div>
        <div class="text-justify">
          <h3>Mã SP:
            {{productDetail?.productCode}}</h3>
        </div>
        <div class="text-justify">
          <h3>Mô tả:
            {{productDetail?.description}}
          </h3>
        </div>
        <h3>Giá : {{ productDetail?.price|currency}}
        </h3>
        <h3>Số Lượng Tồn : {{InStock}} </h3>
        <p>
          <button class="btn btn-primary" style="padding: 10px 20px;box-shadow: 1px 1px 2px 2px rgb(230, 47, 77);"
            [disabled]="InStock<1" (click)="Add()">Mua Hàng</button>
        </p>

      </div>
    </div>
    <div class="col-3">
      <div style="box-shadow: 2px 2px 4px 4px rgb(255, 142, 217);margin-top: 20px; padding: 20px;">
        <a href="#" style="float: left;">
          <i class="fas fa-shopping-cart" style="font-size: 60px; color: rgb(34, 233, 233);">
          </i></a>
        <div class="text-center" style=" font-size:30px; font-family: 'Times New Roman', Times, serif;color:#444444">
          {{ ItemCount()}}<br>Total :{{ ItemSum() |currency}}<br>
          <button class="btn btn-primary" style="margin-top: 10px;background-color: rgb(226, 69, 69);"
            data-toggle="modal" data-target="#modelId">View
            Cart</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <table style="width: 100%;" class="text-center table div">
          <tr>
            <th>Hình</th>
            <th>Tên Sản Phẩm</th>
            <th>Đơn Giá</th>
            <th>Số Lượng</th>
            <th>Thành Tiền</th>
            <th></th>
          </tr><!--dùng ng-for thể hiện giỏ hàng -->
          <tr *ngFor="let item of cartList;let i=index">
            <td>
              <img src="{{item.ImageUrl}}" style="height: 100px;width: 100px;">
            </td>
            <td class="align-middle"> {{item.Name}}</td>
            <td class="align-middle">{{item.Price|currency}}</td>
            <td class="align-middle">{{item.Quantity}}</td>
            <td class="align-middle">{{item.Price!*item.Quantity!|currency}}</td>
            <td class="align-middle">
              <button class="btn btn-primary" style="margin-top: 10px;background-color: rgb(226, 69, 69);"
                (click)="Remove(i)">Remove</button>
            </td>
          </tr>
          <tr>
            <th colspan="2">
            </th>
            <th>Sum price:</th>
            <th>{{ItemCount()}}</th>
            <th>{{ ItemSum() |currency}}</th>
            <th>
              <button class="btn btn-primary" style="margin-top: 10px;background-color: rgb(226, 69, 69);"
                (click)="DeleteAll()">Delete All</button>
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>


 